# development / production
ENV=development

# express api
PORT=3002
HOST=0.0.0.0

# redis -> local / remote
REDIS=local     # use local redis or remote redis

# remote redis
REMOTE_REDIS_USERNAME=
REMOTE_REDIS_PASSWORD=
REMOTE_REDIS_HOST=
REMOTE_REDIS_PORT=
REMOTE_REDIS_PUBLIC_ENDPOINT=

# local redis
REDIS_PORT=
REDIS_HOST=
REDIS_USERNAME=
REDIS_PASSWORD=

# to set route of bull queue
BULL_AUTH_KEY=